element {
    @media screen and (min-width: 360px)
}
.bg-image{
    display: right;
    background-position: right;
    background-size: cover;
    padding-top: 55.56%;
}
.row:after {
clear: both;
content: "";
display: table;
}
.index.header .bg-image-container{
    background-image: url(homepic.jpg);
    width: 100%;
}
.bg-image{
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}
.bg-image-container{
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100px;
}
.container.full-width{
    padding: 0;
}
.container.xl{
    max-width: 1680px;
}
.container{
    margin: auto;
    max-width: 1200px;
    padding: 0 24px;
    position: relative;
}
.pb-32{
    padding-bottom: 32px;
}
.col .row, .container .row{
    margin-left: -12px;
    margin-right: -12px;
}
.row{
    margin-left: auto;
}
.bg-green {
    background-color: #2eb875;
}
.block {
    overflow: hidden;
    position: relative;
}
.row .col.s12{
    width: 100%;
}
.row .col.s11, .row .col.s12 {
    left: auto;
    margin-left: auto;
    right: auto;
}
.row .col {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding: 0 12px;
}
div {
    display: block;
}
.color-white {
    color: white;
}
body {
    -webkit-font-smoothing: antialiased;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
}
.row.after {
    clear: both;
    content: "";
    display: table;
}