a {
    color: #40df6d;
    text-decoration: none;
}
a {
    background-color: transparent;
}
a:-webkit-any-link {
    cursor: pointer;
}
::after, ::before {
    box-sizing: border-box;
}
.form-group-lg .bootstrap-select.btn-group.form-control .dropdown-toggle, .form-group-sm .bootstrap-select.btn-group.form-control .dropdown-toggle {
    height: 100%;
    font-size: inherit;
    line-height: inherit;
    border-radius: inherit;
}
.form-group-lg .bootstrap-select.btn-group.form-control, .form-group-sm .bootstrap-select.btn-group.form-control {
    padding: 0;
}
.form-group .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-inline .bootstrap-select.btn-group {
    margin-bottom: 0;
}
.form-group {
    margin-bottom: 15px;
}
:before {
    box-sizing: border-box;
}
.btn-block, input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
    width: 100%;
}
.btn {
    text-transform: none;
    letter-spacing: normal;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    content: " ";
    display: table;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap; 
    padding: 6px 12px;
    user-select: none;
}
.btn, .btn-danger.active, .btn-danger:active, .btn-default.active, .btn-default:active, .btn-info.active, .btn-info:active, .btn-primary.active, .btn-primary:active, .btn-warning.active, .btn-warning:active, .btn.active, .btn:active, .dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover, .form-control, .navbar-toggle, .open>.dropdown-toggle.btn-danger, .open>.dropdown-toggle.btn-default, .open>.dropdown-toggle.btn-info, .open>.dropdown-toggle.btn-primary, .open>.dropdown-toggle.btn-warning {
    background-image: none;
}
.btn, .btn-group, .btn-group-vertical, .caret, .checkbox-inline, .radio-inline, img {
    vertical-align: middle;
}
.p-b-md, .p-y-md {
    padding-bottom: 30px!important;
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dashhead:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-actions:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after, .sidebar-header:after {
    clear: both;
}
.btn-default {
    color: #111;
    background-color: #f5f5f5;
    border-color: #dcdcdc;
}
.btn .caret, .btn-group>.btn:first-child {
    margin-left: 0;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    float: left;
}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-] {
    float: none;
    display: inline-block;
    margin-left: 0
}
.bootstrap-select.btn-group[class*=col-] .dropdown-toggle, .bootstrap-select.form-control:not([class*=col-]), .bs-actionsbox, .form-inline .bootstrap-select.btn-group .form-control {
    width: 100%;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -2px;
    vertical-align: middle;
}
.bootstrap-select .dropdown-toggle .filter-option {
    margin-top: 4px;
}
.bootstrap-select.btn-group.form-control .dropdown-toggle {
    height: 100%;
    font-size: inherit;
    line-height: inherit;
    border-radius: inherit;
}
button, input, select, textarea {
    font-family: inherit;
}
.block-xs-bottom, .block-xs-middle, .block-xs-top {
    display: table-cell;
    vertical-align: middle;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.block {
    position: relative;
    width: 100%;
    padding: 60px 30px;
    color: inherit;
    background-color: #fff;
    padding: 120px 0;
}
.block:not(.block-secondary) .lead {
    font-size: 21px;
}
.block-fill-viewport {
    display: table;
    width: 100%;
    height: 100vh;
}
.block-xs-bottom, .block-xs-middle, .block-xs-top {
    display: table-cell;
    vertical-align: middle;
}
body {
    font-weight: 400;
}
body {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #2f313f;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 4px dashed;
}
.col-md-5 {
    width: 41.66666667%;
}
.col-md-offset-1 {
    margin-left: 8.33333333%;
}
.col-md-7 {
    width: 58.33333333%;
}
.col-md-6 {
    width: 50%;
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
dt, kbd kbd, label {
    font-weight: 700;
}
.ember-basic-dropdown, .ember-basic-dropdown-content, .ember-basic-dropdown-content * {
    box-sizing: border-box;
}
.ember-basic-dropdown {
    position: relative;
}
.facebook-button {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 8px 20px;
    width: 182.83px;
    height: 56px;
    background: #25d366;
    border-radius: 6px;
}
.facebook-button .title {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}
.form-group-lg .form-control {
    height: 46px;
    line-height: 1.3333333
}
.form-control {
    transition: none;
    width: 100%;
    background-color: white;
    border: 1px solid #d5d5d5;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}
.form-control, output {
    color: #555;
    display: block
}
.form-group-lg .form-control, .input-lg {
    border-radius: 6px;
    padding: 10px 16px;
    font-size: 18px;
}
form {
    display: block;
    margin-top: 0em;
}
.facebook-button .facebook-info {
    padding-left: 12px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
.h1, h1 {
    font-size: 36px
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
}
h1 {
    display: block;
    margin: 0.67em 0;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}
h3 {
    color: inherit;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.help-block {
    display: block;
    margin-top: 5px;
    color: #959595
}
.icon-chevron-thin-down:before {
    content: "\EA49";
}
.icon:before {
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: toolkit-entypo;
    speak-as: none;
    font-size: 100%;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-chevron-thin-down:before {
    content: "\EA49";
}
input {
    letter-spacing: normal;
    word-spacing: normal
    text-transform none;
    text-align: start;
    -webkit-rtl-ordering: logical;
}
label {
    display: inline-block;
    max-width: 100%;
}
.p-t-lg, .p-y-lg {
    padding-top: 60px
!important;
}
.p-r-0, .p-x-0 {
    padding-right: 0!important;
}
p {
    margin: 0 0 10.5px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.panel-body {
    padding: 15px;
}
.panel, label {
    margin: 0;
    padding: 0;
}
.panel-default {
    border-color: #ddd;
}
.phone-area-code .dropdown-toggle {
    border-bottom-right-radius: 0!important;
    border-top-right-radius: 0!important;
    border-right: 0!important;
    width: 100%!important;
}
.phone-area-code .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    direction: ltr;
    text-align: center;
}
.phone-area-code-yield-content input.form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.pull-left {
    float: left!important;
}
.p-l-0, .p-x-0 {
    padding-left: 0!important;
}
.bootstrap-select>.dropdown-toggle {
    width: 100%;
    padding-right: 25px;
    z-index: 1;
}
.container {
    width: 970px;
}
.container, .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}
.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
}
div {
    display: block;
}
label {
    cursor: default;
}
.lead, body {
    letter-spacing: 0;
}
.lead {
    font-weight: inherit;
    line-height: 1.4;
    margin-bottom: 21px;
}
.m-b-sm, .m-y-sm {
    margin-bottom: 10px!important;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.ryda {
    text-align: center;
    color: #40df6d;
    font-size: 60px;
    margin-top: 10%;
}
.swift {
    color: blueviolet;
}
span.arrow:after {
    content: none;
    content: "";
    position: absolute;
    right: 40px;
    top: 170px;
    width: 147px;
    height: 60px;
}
.text-brightest {
    color: white;
}
.text-muted {
    color: #999;
}
.text-success {
    color: #40df6d;
}
.text-2-5em {
    font-size: 2.5em;
}
.m-t-xlg {
    margin-top: 120px!important;
}
html {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%
}